.thankyou-page {padding: 6rem 4rem;
    max-width: 29%;
    margin: auto;
    background: #dcfbdd;
    margin-top: 40px;
    border-radius: 6px;
    border: 1px solid #a6f1a9;}
.thankyou-page h4{ font-size: 42px;
    margin-bottom: 25px;
    color: #5C5C5C;
}

.thankyou-page p {text-align:left;}
.number-score {
padding: 6px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
}